<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiao.notify.mapper.NotifyConfigMapper">


    <select id="getNotifyConfigActiveList" resultType="com.xiao.notify.model.entity.NotifyConfig">
        select id as id,
        job_class_name as jobClassName,
        job_group as jobGroup,
        job_name as jobName,
        corn as corn
        from t_notify_config
        where notify_status = 0;
    </select>
</mapper>
